// Colors

$background_dark: #042f41f6;
$background_light: #1d586df6;
$text_off_white: #a8c2cad0;
$text_off_white_light: #fefffff6;
$button_color: #042f41f6;
$button_redish: #df6e6e;

// Spacing
$s_size : 1.2rem;
$m_size : 1.6rem;
$l_size : 3.2rem;
$xl_size : 4.8rem;
$desktop_break_point : 45rem;